<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>垃圾分类系统</title>
    <link rel="stylesheet" href="../../static/css/public.css"/>
    <link rel="stylesheet" href="../../static/css/style.css"/>
</head>
<body>
<!--头部-->
    <header class="publicHeader">
        <h1>垃圾分类系统</h1>
        <div class="publicHeaderR">
            <p><span id="hours"></span><span style="color: #fff21b"> {{ name }}</span>管理员 , 欢迎你！</p>
            <a href="/login?">退出</a>
        </div>
    </header>
<!--时间-->

    <section class="publicTime">
        <span id="time"></span>
        <a href="#">温馨提示：为了能正常浏览，请使用Firefox浏览器！</a>
    </section>
<!--主体内容-->
    <section class="publicMian ">
        <div class="left">
            <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
            <nav>
                <ul class="list">
                <li><a href="/manager_information?">管理员个人信息</a></li>
                <li><a href="/manage_common?">管理注册用户</a></li>
                <li><a href="/manage_dump?">管理垃圾回收点</a></li>
                <li><a href="/add_new_dump?">添加垃圾回收点</a></li>
                <li><a href="/search_record?">查看投放记录</a></li>
                <li><a href="/manage_analysis?">数据分析</a></li>
                <li><a href="/change_manager_password?">密码修改</a></li>
                </ul>
            </nav>
        </div>
        <div class="right">
            <div class="location">
                <strong>你现在所在的位置是:</strong>
                <span>查看个人信息页面</span>
            </div>
            <div class="providerAdd">
                <form action="/manager_information/"method="post">
                    {% csrf_token %}
                    <div>
                        <label >姓名：</label>
                        <input type="text" value="{{ name }}"  readonly/><img src="../../static/img/jinzhixiugai.jpg" style="position: relative;
    right: 25px;top: 5px;">
                    </div>
                    <div>
                        <label >昵称：</label>
                        <input type="text" value="{{ id }}"name="id">
                    </div>
                    <div>
                        <label >电话：</label>
                        <input type="text" value="{{ telephone }}" name="telephone"readonly /><img src="../../static/img/jinzhixiugai.jpg" style="position: relative;
    right: 25px;top: 5px;">
                    </div>
                    <div>
                        <label >邮箱：</label>
                        <input type="text" value="{{ email }}"name="email" />
                    </div>
                    <div class="providerAddBtn">
                        <input type="submit"value="保存"onclick="alert('保存成功！')" style=" width: 88px;
    height: 42px;
    position: absolute;
    left: 710px;
    top: 370px;
    font-size: 20px;">
                    </div>
                </form>
            </div>
        </div>
    </section>
<script src="../../static/js/jquery.js"></script>
<script src="../../static/js/js.js"></script>
<script src="../../static/js/time.js"></script>

</body>
</html>


