<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>垃圾分类系统</title>
    <link rel="stylesheet" href="../../static/css/public1.css"/>
    <link rel="stylesheet" href="../../static/css/style.css"/>
    <script src="../../static/js/echarts-4.7.0.min.js"></script>
    <style>
        #main{
            display:inline-block ;
            margin-left: 50px;
            margin-top: 10px;
        }
        #main1{
            display:inline-block ;
            margin-left: 50px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
{% if status == 0 %}
    <script>
    alert("请同时输入年份和月份！！！")
    </script>
{% elif status == 1 %}
    <script>
    alert("未找到用户该月份的投放记录！！！")
    </script>
{% endif %}
<!--头部-->
    <header class="publicHeader">
        <h1>垃圾分类系统</h1>
        <div class="publicHeaderR">
            <p><span id="hours"></span><span style="color: #fff21b"> {{ name }}</span> , 欢迎你！</p>
            <a href="/login?">退出</a>
        </div>
    </header>
<!--时间-->

    <section class="publicTime">
        <span id="time"></span>
        <a href="#">温馨提示：为了能正常浏览，请使用Firefox浏览器！</a>
    </section>
<!--主体内容-->
    <section class="publicMian ">
        <div class="left">
            <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
            <nav>
                <ul class="list">
                    <li><a href="/common_information?">用户个人信息</a></li>
                    <li><a href="/garbage_type?">查看垃圾类别</a></li>
                    <li><a href="/search_dump?">查看垃圾回收点</a></li>
                    <li><a href="/throw_record?">查看投放记录</a></li>
                    <li><a href="/common_analysis?">数据分析</a></li>
                    <li><a href="/change_password?">密码修改</a></li>
                </ul>
            </nav>
        </div>
        <div class="right">
            <div class="location">
                <strong>你现在所在的位置是:</strong>
                <span>分析用户投放记录数据页面</span>
            </div>
            <form>
        {% csrf_token %}
        <div class="search">
                <span>年份：</span>
                <select name="common_year"id="common_year">
                    <option value="">--请选择年份--</option>
                    <option value="2020">2020年</option>
                    <option value="2021">2021年</option>
                </select>
                <span>月份：</span>
                <select name="common_month"id="common_month">
                    <option value="">--请选择月份--</option>
                    <option value="01">1月份</option>
                    <option value="02">2月份</option>
                    <option value="03">3月份</option>
                    <option value="04">4月份</option>
                    <option value="05">5月份</option>
                    <option value="06">6月份</option>
                    <option value="07">7月份</option>
                    <option value="08">8月份</option>
                    <option value="09">9月份</option>
                    <option value="10">10月份</option>
                    <option value="11">11月份</option>
                    <option value="12">12月份</option>
                </select>
                <input type="submit" value="查询"formaction="/common_analysis/"formmethod="post"
                style="width: 70px;height: 37px;position: absolute;left: 770px;top: 115px;"/><!--点击查询按钮后提交到search_record函数的post部分执行 -->
            </div>
    </form>
            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
            <div id="main" style="width: 500px;height:400px;"></div>
            <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '投放记录柱状图(总次数：{{ count }})',
                x: 'center',
            },
            tooltip: {},
            xAxis: {
                data: ["可回收垃圾","厨余垃圾","有害垃圾","其他垃圾"]
            },
            yAxis: {},
            series: [{
                name: '次数',
                type: 'bar',
                barCategoryGap : '50%',  // 类目间柱形距离，默认为类目间距的20%，可设固定值
                data: {{ counts }}
            }]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
            <div id="main1" style="width: 500px;height:400px;"></div>
            <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main1'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '投放记录饼状图(总次数：{{ count }})',
                x: 'center',
            },
            tooltip: {},
            series: [{
            name: '次数',
            type: 'pie',
            radius: '55%',
            data:[
                {value:{{ counts }}[0], name:'可回收垃圾'},
                {value:{{ counts }}[1], name:'厨余垃圾'},
                {value:{{ counts }}[2], name:'有害垃圾'},
                {value:{{ counts }}[3], name:'其他垃圾'}
            ],
            itemStyle: {
                normal:{
                        label:{
                            show: true,
                            formatter: '{b} {d}%'
                        },
                        labelLine :{show:true}
                    }
            }
        }]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
    <div style="margin-top: -20px;width: 700px;font-size: 15px">
    <script type="text/javascript">
                 switch({{ num }}) {
                    case 1:
                        document.write('该用户共投放了 {{ count }} 次垃圾。投放最多的是： {{ type1 }} ，投了 {{ Max }} 次；投放最少的是： {{ type2 }} ，投了 {{ Min }} 次。')
                        break;
                    case 2:
                        document.write('该用户在 {{ time }} 月份共投放了 {{ count }} 次垃圾。投放最多的是： {{ type1 }} ，投了 {{ Max }} 次；投放最少的是： {{ type2 }} ，投了 {{ Min }} 次。')
                        break;
                    default:
                        break;
                 }
    </script>
    </div>
    </div>
    </section>
<script src="../../static/js/jquery.js"></script>
<script src="../../static/js/js.js"></script>
<script src="../../static/js/time.js"></script>

</body>
</html>
