<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>垃圾分类系统</title>
    <link rel="stylesheet" href="../../static/css/public.css"/>
    <link rel="stylesheet" href="../../static/css/style.css"/>
</head>
<body>
<!--头部-->
    <header class="publicHeader">
        <h1>垃圾分类系统</h1>
        <div class="publicHeaderR">
            <p><span id="hours"></span><span style="color: #fff21b"> {{ name }}</span> , 欢迎你！</p>
            <a href="/login?">退出</a>
        </div>
    </header>
<!--时间-->

    <section class="publicTime">
        <span id="time"></span>
        <a href="#">温馨提示：为了能正常浏览，请使用google浏览器！</a>
    </section>
<!--主体内容-->
    <section class="publicMian ">
        <div class="left">
            <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
            <nav>
                <ul class="list">
                    <li><a href="/common_information?">查看个人信息</a></li>
                    <li><a href="/search_dump?">查看垃圾桶</a></li>
                    <li><a href="/throw_record?">投放垃圾记录</a></li>
                    <li><a href="/change_password?">密码修改</a></li>
                    <li><a href="/login?">退出系统</a></li>
                </ul>
            </nav>
        </div>
        <div class="right">
            <div class="location">
                <strong>你现在所在的位置是:</strong>
                <span>查看个人信息页面</span>
            </div>
            <div class="providerAdd">
                <form action="/common_information/"method="post">
                    {% csrf_token %}
                    <div>
                        <label >姓名：</label>
                        <input type="text" value="{{ name }}"  readonly/><img src="../../static/img/timg.jpg"style="position: relative;
    right: 25px;top: 5px;">
                    </div>
                    <div>
                        <label >昵称：</label>
                        <input type="text" value="{{ id }}"name="id">
                    </div>
                    <div>
                        <label >地址：</label>
                        <select name="address" required>
                        <option value="{{ address }}">{{ address }}</option>
                        <option value="长安区">长安区</option>
                        <option value="碑林区">碑林区</option>
                        <option value="雁塔区">雁塔区</option>
                        <option value="高新区">高新区</option>
                        <option value="莲湖区">莲湖区</option>
                        <option value="未央区">未央区</option>
                        <option value="灞桥区">灞桥区</option>
                        <option value="新城区">新城区</option>
                        <option value="临潼区">临潼区</option>
                        <option value="高陵区">高陵区</option>
                        <option value="阎良区">阎良区</option>
                        <option value="鄠邑区">鄠邑区</option>
                        <option value="西咸新区">西咸新区</option>
            </select>
                    </div>
                    <div>
                        <label >电话：</label>
                        <input type="text" value="{{ telephone }}" name="telephone"readonly /><img src="../../static/img/timg.jpg"style="position: relative;
    right: 25px;top: 5px;">
                    </div>
                    <div>
                        <label >邮箱：</label>
                        <input type="text" value="{{ email }}"name="email" />
                    </div>
                    <div>
                        <label >积分：</label>
                        <input type="text" value="{{ integral }}" name="integral"readonly /><img src="../../static/img/timg.jpg"style="position: relative;
    right: 25px;top: 5px;">
                    </div>
                    <div class="providerAddBtn">
                        <!--<a href="#">保存</a>-->
                        <input type="submit"value="保存"onclick="alert('保存成功！')">
                    </div>
                </form>
            </div>
        </div>
    </section>
<script src="../../static/js/jquery.js"></script>
<script src="../../static/js/js.js"></script>
<script src="../../static/js/time.js"></script>

</body>
</html>


